@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
body {
  background-image: url("https://aldiaaan.github.io/imgs/hyrule.png");
  background-color: rgb(253, 253, 253);
  background-repeat: no-repeat;
  background-size: cover;
}
body p {
  margin: 0;
}
.input-field {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.5rem;
  align-items: center;
  justify-content: flex-end;
}
body {
  display: flex;
  height: 100vh;
  color: #1a202c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sign-in-me {
  color: #3182ce;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.375rem 0.75rem;
  border-radius: 0.5rem;
}

.sign-in-me:hover {
  background-color: #f6fafe;
}

a {
  color: inherit;
}
.register-wrapper {
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  max-width: 100%;
  margin: 2rem 0;
  padding: 1rem 0 0 0;
}
@media only screen and (max-width: 600px) {
  .register-container {
    width: 100%;
  }
  .register-wrapper {
    margin: 0;
    border-radius: 0;
  }
}
.register-container {
  width: 42rem;
  margin: auto;
}
.divider {
  border: 1px solid #e2e8f0;
}

#input-container {
  margin: 0;
}

.register-container .title {
  color: inherit;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
}

.register-container form {
  margin-top: 1.5rem;
  padding: 0 1.5rem !important;
}

/* -.375rem */
/* .register-container .col {
  padding: 0 1.125rem !important;
} */

.input-field {
  /* margin-bottom: 1rem; */
}
/* padding: 0.5rem 1rem; */
/* padding: 0 1.5rem; */

input[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #5a5a5a !important;
  background-color: #616161 !important;
}

.input-field input:focus + label {
  color: #3182ce !important;
}

.input-field input:focus {
  border-bottom: 1px solid #3182ce !important;
  box-shadow: 0 1px 0 0 #3182ce !important;
}

input[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #5a5a5a !important;
  background-color: #616161 !important;
}

.input-field input:focus + label {
  color: #3182ce !important;
}

.input-field input:focus {
  border-bottom: 1px solid #3182ce !important;
  box-shadow: 0 1px 0 0 #3182ce !important;
}

.register-btn {
  margin: 1rem 0 1rem 0;
  background-color: #1a73e8;
}

.register-btn:hover {
  background-color: #1a73e8;
}

.register-btn:focus {
  background-color: #1a73e8;
}

ul.select-dropdown {
  width: 10rem !important;
}
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #3182ce !important;
  box-shadow: 0 1px 0 0 #3182ce !important;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #3182ce !important;
}

.row {
  margin-bottom: 0px !important;
}

#password-showed,
#password-unshowed {
  top: 40% !important;
}
textarea.materialize-textarea {
  max-height: 6rem !important;
}
