section#main {
  background-image: linear-gradient(
      to right,
      rgba(29, 29, 29, 1),
      rgba(29, 29, 29, 0.7),
      rgba(29, 29, 29, 0.3)
    ),
    url("./assets/main-cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
}
section#news {
  background-color: #1d1d1d;
  overflow-x: hidden;
}

section#about-us {
  min-height: 100vh;
  position: relative;
}
.background-grey {
  position: absolute;
  top: 0;
  left: 0;
  right: 40%;
  bottom: 0;
  background-color: var(--dark-primary);
}
.winner-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background-position: 20% 25%;
  background-image: url("assets/about-us-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.winner-image::after {
  position: absolute;
  top: 0;
  left: 60%;
  right: 0;
  bottom: 0;
  content: "";
  background-image: linear-gradient(to right, var(--dark-primary), transparent);
}
@media screen and (max-width: 992px) {
  /* hide image on <lg and <lg adapt */
  section#about-us {
    background-image: linear-gradient(
        to right,
        rgba(29, 29, 29, 1),
        rgba(29, 29, 29, 0.8)
      ),
      url("assets/about-us-mobile.jpg");
    background-position: 50% 50%;
    background-size: cover;
  }
  .background-grey {
    display: none;
  }
  .winner-image {
    display: none;
  }
  .winner-image::after {
    display: none;
  }
}

.title-container {
  display: flex;
  align-items: center;
}

.page-footer {
  padding: 20px 0px;
}

.title {
  position: relative;
  margin-left: 1rem;
}
.title p {
  margin: 0;
}
footer .row {
  margin-bottom: 0px;
}

body {
  overflow-x: hidden;
}

.logo {
  width: 1.5rem;
}

.brand-wrapper {
  display: inline-flex;
  height: 100%;
  align-items: center;
}

.hero {
  margin-top: 6rem;
}
.motto {
  font-size: 2.25rem;
}
.description {
  font-size: 0.875rem;
  line-height: 1.675;
}

span.highlighted-text {
  background-color: var(--orange-primary);
  padding: 4px;
}

.register-btn {
  margin-top: 1rem;
  border: 2px solid #fff;
}

section#news {
  padding: 1rem 0;
}

.header-title {
  position: relative;
  font-size: 1.75rem;
  margin: 2rem 0 0 0;
  font-weight: 600;
}

.social-btn-groups svg {
  cursor: pointer;
}

.header-title::after {
  content: "";
  top: 0;
  bottom: 0;
  left: -0.75rem;
  width: 0.2rem;
  position: absolute;
  background-color: var(--orange-primary);
}
.news-card {
  height: 300px !important;
  width: 220px !important;
  min-height: 300px !important;
  min-width: 220px !important;
}
.news-image {
  width: 220px;
  border-radius: 1rem 1rem 1rem 0;
}
.stream-card {
  height: 260px !important;
  width: 400px !important;
  min-height: 260px !important;
  min-width: 400px !important;
}

.stream-image {
  width: 400px;
}

.slide-component {
  display: inline-block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-right: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.slide-component::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 40%;
  z-index: 0;
  background-image: linear-gradient(
    to top,
    rgba(29, 29, 29, 0.8),
    rgba(29, 29, 29, 0.6),
    transparent
  );
}
.slide-component > img {
  height: 100%;

  position: absolute;
  object-fit: cover;
}
.slide-component-title {
  z-index: 10;
  position: absolute;
  bottom: 0.5rem;
  margin: 0;
  left: 0.5rem;
  right: 0.5rem;
}

.hide-left {
  clip-path: inset(-100vw -100vw -100vw 0);
}
.carousel {
  overflow: visible;
}
