section#login {
  height: 100vh;
}

.logo {
  width: 1.875rem;
  margin-right: 1.5rem;
}

/* center dengan logonya */
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.title {
  position: relative;
}

.title::after {
  content: "";
  top: 0;
  bottom: 0;
  left: -0.675rem;
  width: 0.2rem;
  position: absolute;
  background-color: var(--orange-primary);
}

.row#login-form {
  position: relative;
  top: 50%;
  z-index: 9;
  transform: translateY(-50%);
}

/* center iconnya */
.social-buttons {
  display: flex;
  justify-content: center;
}
