@import url("https://rsms.me/inter/inter.css");
html,
button,
a {
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}
*,
::before,
::after {
  box-sizing: border-box;
}

/* Materialize colors */
:root {
  --dark-primary: #212121; /* grey darken-4 */
  --orange-primary: #ff9800; /* orange */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #5a5a5a !important;
  background-color: #616161 !important;
}

.input-field input:focus + label {
  color: var(--orange-primary) !important;
}

.input-field input:focus {
  border-bottom: 1px solid var(--orange-primary) !important;
  box-shadow: 0 1px 0 0 var(--orange-primary) !important;
}

input[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #5a5a5a !important;
  background-color: #616161 !important;
}

.input-field input:focus + label {
  color: var(--orange-primary) !important;
}

.input-field input:focus {
  border-bottom: 1px solid var(--orange-primary) !important;
  box-shadow: 0 1px 0 0 var(--orange-primary) !important;
}

textarea.materialize-textarea:focus + label {
  color: var(--orange-primary) !important;
}

textarea.materialize-textarea:focus {
  border-bottom: 1px solid var(--orange-primary) !important;
  box-shadow: 0 1px 0 0 var(--orange-primary) !important;
}

ul.dropdown-content.select-dropdown li span {
  color: white;
}

ul.dropdown-content.select-dropdown li {
  background-color: var(--dark-primary);
}

ul.dropdown-content.select-dropdown {
  background-color: var(--dark-primary);
}

.datepicker-date-display {
  background-color: var(--dark-primary);
}

.push-hcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  width: 5px;
  height: 2px;
  background-color: transparent;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background-color: #1d1d1d;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  width: 6px;
  height: 2px;
  background-color: #262626;
  border-radius: 3px;
}
