section#register {
  height: 100vh;
}
body {
  background-color: var(--dark-primary);
}

@media screen and (min-width: 992px) {
  /* center on >lg */
  #register-form {
    height: 100vh;
    margin-bottom: 0 !important;
  }
}

form {
  margin-top: 2rem;
}

/* biar gak nabrak sama datepicker */
div#dropdown-form .select-dropdown {
  color: #fff;
}

.logo {
  width: 1.875rem;
  margin-right: 1.5rem;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  position: relative;
}
.title::after {
  content: "";
  top: 0;
  bottom: 0;
  left: -0.675rem;
  width: 0.2rem;
  position: absolute;
  background-color: #ff9800;
}
